name: Agentic Dataproc Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Authenticate GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_KEY }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Upload Job
      run: |
        gsutil cp wordcount_job.py gs://agentic-dataproc-pipeline/jobs/

    - name: Run Agent
      run: python agent_controller.py
